<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Description</key>
			<string>Module name</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string></string>
			<key>Description</key>
			<string>Names Preview</string>
			<key>Identifier</key>
			<string>preview</string>
			<key>Name</key>
			<string>Names Preview</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Feature</string>
			<key>Description</key>
			<string>Feature</string>
			<key>Identifier</key>
			<string>feature</string>
			<key>Name</key>
			<string>Feature:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Actor</string>
			<key>Description</key>
			<string>Actor</string>
			<key>Identifier</key>
			<string>actor</string>
			<key>Name</key>
			<string>Actor:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Reducer</string>
			<key>Description</key>
			<string>Reducer</string>
			<key>Identifier</key>
			<string>reducer</string>
			<key>Name</key>
			<string>Reducer:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___State</string>
			<key>Description</key>
			<string>State</string>
			<key>Identifier</key>
			<string>state</string>
			<key>Name</key>
			<string>State:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___WishToAction</string>
			<key>Description</key>
			<string>WishToAction</string>
			<key>Identifier</key>
			<string>wishToAction</string>
			<key>Name</key>
			<string>WishToAction:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Bootstrapper</string>
			<key>Description</key>
			<string>Bootstrapper</string>
			<key>Identifier</key>
			<string>bootstrapper</string>
			<key>Name</key>
			<string>Bootstrapper:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___NewsPublisher</string>
			<key>Description</key>
			<string>NewsPublisher</string>
			<key>Identifier</key>
			<string>newsPublisher</string>
			<key>Name</key>
			<string>NewsPublisher:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___PostProcessor</string>
			<key>Description</key>
			<string>PostProcessor</string>
			<key>Identifier</key>
			<string>postProcessor</string>
			<key>Name</key>
			<string>PostProcessor:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Wish</string>
			<key>Description</key>
			<string>Wish</string>
			<key>Identifier</key>
			<string>wish</string>
			<key>Name</key>
			<string>Wish</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Action</string>
			<key>Description</key>
			<string>Action</string>
			<key>Identifier</key>
			<string>action</string>
			<key>Name</key>
			<string>Action:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Effect</string>
			<key>Description</key>
			<string>Effect</string>
			<key>Identifier</key>
			<string>effect</string>
			<key>Name</key>
			<string>Effect:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
      		<key>NotPersisted</key>
			<string>Yes</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___News</string>
			<key>Description</key>
			<string>News</string>
			<key>Identifier</key>
			<string>news</string>
			<key>Name</key>
			<string>News:</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
